body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  position: relative;
  color: black;
  background: white;
  font-family: "Inconsolata";
  font-size: 100%;
  font-weight: 400;
}
.hello {
  color: black;
}
.text {
  max-width: 400px;
  margin-left: -200px;
  margin-top: -140px;
  left: 50%;
  top: 50%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
}
a {
  color: #1A0DAB;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  padding: 0px;
  text-align: center;
}
li {
  display: inline-block;
}
li:after {
  content: " |";
}
li:last-child:after {
    content: "";
}
.play {
  text-align: right;
}
